## Deliverable 3. Create a Travel Itinerary Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)
fig = gmaps.figure()

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,75.25,overcast clouds,-23.1203,-134.9692,Pension Maro'i
1,13,Oussouye,SN,75.07,few clouds,12.4850,-16.5469,Auberge du Routard
2,20,San Policarpo,PH,83.64,overcast clouds,12.1791,125.5072,JM Lodge
3,21,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
4,22,Butaritari,KI,83.59,light rain,3.0707,172.7902,Isles Sunset Lodge

In [12]:
vacation_df.count()

City_ID                212
City                   212
Country                212
Max Temp               212
Current Description    212
Lat                    212
Lng                    212
Hotel Name             199
dtype: int64

In [19]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F and {Current Description}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Pacifica")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Pacifica")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="El Dorado")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Hurricane")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="San Clemente")]

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (37.6138, -122.4869), End: (37.6138, -122.4869)
Stop 1: (38.7666, -120.5177), Stop 2: (37.1753, -113.2899), Stop 3: (33.427, -117.612)

In [37]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,255,Pacifica,US,75.56,few clouds,37.6138,-122.4869,"Pacifica Lighthouse, Trademark Collection by W..."
1,421,El Dorado,US,80.65,clear sky,38.7666,-120.5177,Bridal Veil Campground
2,371,Hurricane,US,88.14,overcast clouds,37.1753,-113.2899,Super 8 by Wyndham Hurricane Zion National Park
3,701,San Clemente,US,79.74,scattered clouds,33.4270,-117.6120,Casablanca Inn

In [58]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F and {Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations2 = itinerary_df[["Lat", "Lng"]]
locations2

       Lat       Lng
0  37.6138 -122.4869
1  38.7666 -120.5177
2  37.1753 -113.2899
3  33.4270 -117.6120

In [60]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations2, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))